.container-fluid{    
    background: #00d2ff;  
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  
    background: linear-gradient(to right, #3a7bd5, #00d2ff); 
    animation: hue 20s linear infinite;       
  } 
  .container-fluid h1{    
    text-align: left;
    color: #000;
  } 
  img{
      width: 200px;
      height: 200px;
  }
   
  
  @keyframes hue {
    0% {
      filter: hue-rotate(360deg)
    }
    50% {
      filter: hue-rotate(0deg)
    }
    100% {
      filter: hue-rotate(180deg)
    }
  }

  