/* Formulario de inicio de sesion */

.r-main {
    width: 100%;
    background-image: url(../../../assets/img/camisasqux.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
    position: absolute;
    z-index: 1000;
    height: 100vh;
}

.main-section {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.modal-content.ingreso {
    background-color: #3B4652;
    opacity: .95;
    padding: 0 20px 15px 20px;
    box-shadow: 0px 0px 3px #848484;
}

.img-user {
    margin-top: -75px;
    margin-bottom: 20px;
}

.img-user img {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 3px #848484;
}

.fgm-gr {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

input#email-init:focus,
input#password-init:focus {
    box-shadow: none;
}

.fgm-gr input {
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.fgm-gr input::placeholder {
    color: white;
    font-size: 17px;
}

span.text-light {
    display: inline-block;
    margin-bottom: 1rem;
}

hr {
    border: 1px solid black;
}

.col-12 button {
    width: 100%;
    margin: 25px 0 25px;
}

.forgot p,
.forgot a {
    color: white;
    cursor: pointer;
}

.forgot p:hover,
.forgot a:hover {
    text-decoration: none;
    color: #848484;
}


/* Formulario de registro */

.user-img img {
    width: 33%;
    height: 9rem;
    margin-top: 1rem;
}

@media only screen and (min-width:768px) {
    /* Imagen */
    .user-img img {
        width: 30%;
        height: 8rem;
    }
    /*Principal*/
    .minh-100 {
        height: 100vh;
        position: fixed;
    }
    /*Formulario*/
    form.registry {
        max-width: 75%;
        margin-top: -25rem;
    }
}

@media only screen and (min-width:992px) {
    .user-img img {
        width: 20%;
        height: 9rem;
        margin-top: -8rem;
    }
}

input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}