<footer>
    <div class="container-fluid pl-5 pr-5">
      <div class="social text-center">
        <ul>
          <li><a href="https://github.com/" target="_blank">/ gitHub</a></li>
          <li><a href="https://www.linkedin.com/" target="_blank">// linkedIn</a></li>
          <li><a href="https://www.facebook.com/" target="_blank">/// facebook</a></li>
        </ul>
      </div>
      <p class="float-right"><a class="js-scroll-trigger"  href="#">back to top</a></p>
      <p>&lsaquo;code:Q-UX&rsaquo; &copy; 2020. all rights reserved.</p>
    </div>
</footer>


