<footer class="border border-secondary">
    <div class="container-fluid pl-5 pr-5">
      <div class="social text-center">
        <ul>
          <li><a href="https://github.com/" target="_blank" style="color: rgb(18, 206, 164)">/ gitHub</a></li>
          <li><a href="https://www.linkedin.com/" target="_blank" style="color: rgb(18, 206, 164)">// linkedIn</a></li>
          <li><a href="https://www.facebook.com/" target="_blank" style="color: rgb(18, 206, 164)">/// facebook</a></li>
        </ul>
      </div>
      <p class="float-right"><a class="js-scroll-trigger" style="color: rgb(18, 206, 164)" routerLink="/home">back to top</a></p>
      <p>&lsaquo;code:Q-UX&rsaquo; &copy; 2020. all rights reserved.</p>
    </div>
</footer>


