<!--Toolbar-->
<app-navbar></app-navbar>

<!--Home-->
<div id="home" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Q-UX</h1>
        <p class="lead text-muted">Desing Thinking</p>
        <div class="social text-center">
            <ul>
                <li><a href="https://github.com/" target="_blank">/ gitHub</a></li>
                <li><a href="https://www.linkedin.com/" target="_blank">// linkedIn</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">/// facebook</a></li>
            </ul>
        </div>

    </div>
</div>

<!--Products-->
<app-products></app-products>

<!--Footer-->
<app-footer></app-footer>