<div id="contact" class="container-fluid contact pt-5">
    <h1 class="jumbotron-heading text-center">/ contact</h1>
    <form class="mt-5" method="post" action="php/send_form_email.php">
        <div class="contact-form row">
            <div class="form-field col-sm-4 pl-4 pr-4 ml-auto">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label pl-4" for="name">name</label>
            </div>
            <div class="form-field col-sm-4 pl-4 pr-4 mr-auto">
                <input id="email_from" class="input-text js-input" type="email" required>
                <label class="label pl-4" for="email_from">email</label>
            </div>
        </div>
        <div class="contact-form row">
            <div class="form-field col-sm-8 pl-4 pr-4 mx-auto">
                <input id="message" class="input-text js-input" type="text" required>
                <label class="label pl-4" for="message">message</label>
            </div>
        </div>
        <div class="contact-form row">
            <div class="form-field col-sm-12 text-center">
                <input class="submit-btn" type="submit" value="submit">
            </div>
        </div>
    </form>
</div>