<!-- Default form register -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Productos</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" id="" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="" class="form-control" placeholder="Imagen">
        </div>
    </div>

    <!--Description-->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="" rows="3" placeholder="Descripcion"></textarea>
    </div>

    <!-- Color -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Color</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- Precio -->
            <input type="text" id="" class="form-control" placeholder="Precio">
        </div>
        <div class="col">
            <!-- Descuento -->
            <input type="text" id="" class="form-control" placeholder="Descuento">
        </div>
        <div class="col">
            <!-- Iva -->
            <input type="text" id="" class="form-control" placeholder="Iva" value="IVA 19%" disabled>
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <span>Talla S</span>
            <input type="text" id="" class="form-control" value="0">
        </div>
        <div class="col">
            <span>Talla M</span>
            <input type="text" id="" class="form-control" value="0">
        </div>
        <div class="col">
            <span>Talla L</span>
            <input type="text" id="" class="form-control" value="0">
        </div>
    </div>


    <button type="button">Agregar</button>
</form>
<!-- Default form register -->