<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Color</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let count = index">
            <th scope="row">{{product.Nombre}}</th>
            <td>{{product.Color}}</td>
            <td *ngIf="product.Estado">Disponible</td>
            <td *ngIf="!product.Estado">Agotado</td>
            <td>
                <img src="../../../assets/img/see.png" alt="" class="mr-3" (click)="selectProduct(product.IdProducto,count+1)">
                <img src="../../../assets/img/delete.png" alt="" (click)="deleteProduct(product.IdProducto,count)">
            </td>
        </tr>
    </tbody>
</table>