<!--Toolbar-->
<app-navbar></app-navbar>

<!--Home-->
<div id="home" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Q-UX</h1>
        <p class="lead text-muted">Desing Thinking</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark">Sing up!</button>
            <button type="button" class="btn btn-outline-dark">Desing!</button>
        </div>
    </div>
    <div id="pencilcase">
        <div class="pencil red">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <div class="pencil orange">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <div class="pencil yellow">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <div class="pencil green">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <div class="pencil blue">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <div class="pencil indigo">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        <div class="pencil violet">
            <div class="top"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
    </div>
</div>

<!--AboutUs-->
<app-about-us></app-about-us>

<!--Products-->
<app-products></app-products>

<!--ContactUs-->
<app-contact-us></app-contact-us>

<!--Footer-->
<app-footer></app-footer>