<!--Toolbar-->
<app-navbar></app-navbar>

<!--Home-->
<div id="home" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Q-UX</h1>
        <p class="lead text-muted">Desing Thinking</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-light">Sing up!</button>
            <button type="button" class="btn btn-outline-light">Desing!</button>
        </div>
    </div>   
</div>

<!--Footer-->
<app-footer></app-footer>