nav{
    background-color: #000;
}
.navbar a:hover {
    color: rgb(18, 206, 164) !important;
    text-decoration: none;
  }
  
  a:focus {
    color: rgb(18, 206, 164) !important;
  }
  
  a:after {
    color: rgb(18, 206, 164) !important;
  }
  
  .navbar {
    font-size: 14px;
    background-color: #000 !important;
  }
  
  .navbar-brand {
    font-size: 14px;
    color: rgb(18, 206, 164) !important;
  }
  
   .active .nav-link {
    color: rgb(18, 206, 164) !important;
  }

  .top-header:before {
    background-image: url(https://1.bp.blogspot.com/-gxsOcYWghHA/Xp_izTh4sFI/AAAAAAAAU8s/y637Fwg99qAuzW9na_NT_uApny8Vce95gCEwYBhgL/s1600/header-footer-gradient-bg.png);
}

.top-header:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
  opacity:0.3;
}